html, body{
	height:100%;
	margin-right: calc(-1 * (100vw - 100%));
}

body{
	margin: 0;
	overflow-x: hidden;
	background-color: black;
}

canvas{
	position:fixed!important;
	z-index: -1!important;
}

div.row{
	height:100%;
	bottom:20px;
	position:relative;
}

div.page-header{
	border:0; 
	background-color: transparent;   
	z-index: 100;
	position:relative;
	margin-top:5px;
}

h1#julien{ 
	color:white; 
	margin: 0;
	font-size:40px;
}


@font-face {
	font-family: 'Pacifico';
	src: url('../../font/Pacifico/Pacifico-Regular.ttf') format("truetype");
 
	font-family: 'Roboto';
	src: url('../../font/Pacifico/Roboto-Regular.ttf') format("truetype");
 	
 	/*Incorporate the different version for the different browser*/
}

.text_style{
	font-family: 'Pacifico', cursive, 'Roboto', sans-serif;
	text-decoration: none;
	text-align: center;
}

.dimension{
	height: 150px; 
	background-color: transparent;
	background: none;
	border:none;
}

.circle{
	background-color: white;
	display: flex;
	justify-content: center;
	height: 50px;
	width:50px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	position: relative;
	margin: auto;
	top: 31px;
	z-index: 100;
}

.container{
	padding-right: 15px;
	padding-left:15px;
	margin-right: auto;
	margin-left: 15px;
}

.row .thumbnail {
    border:none;
    box-shadow:none;
    border-radius:0;
    -webkit-box-sizing: border-none;
	-moz-box-sizing: border-none;
	box-sizing: border-none;
	background-color: transparent;
}

.thumbnail{
	display: block;
	background-color: transparent;
}

img{
	margin:0px;
}

.img-responsive{
	background-color: transparent;
	max-width: 100%;
	z-index: 100;
}

.fading_animation_color{
	transition-property: transform;
    transition-duration: 10s;
    animation-name: fading_color;
	animation-delay:0s;
	animation-duration: 5s;
	-webkit-animation: fading_color 5s infinite;
	
	animation-timing-function:linear; /* For a steady rate loop */
}


.fading_animation_bg{
	transition-property: transform;
    transition-duration: 10s;
    animation-name: fading_bg;
	animation-delay:0s;
	animation-duration: 5s;
	-webkit-animation: fading_bg 5s infinite;
	
	animation-timing-function:linear; /* For a steady rate loop */
}


@keyframes fading_color {
    0%   { color: black; }
    50%  { color: white; }
    100% { color: black; }
}

@-webkit-keyframes fading_color {
    0%   { color: black; }
    50%  { color: white; }
    100% { color: black; }
}

@keyframes fading_bg {
    0%   { background: black; }
    50%  { background: white; }
    100% { background: black; }
}

@-webkit-keyframes fading_bg {
    0%   { background: black; }
    50%  { background: white; }
    100% { background: black; }
}

@keyframes opacityfading {
    0%   { opacity: 0; }
    33%  { opacity: 1; }
    66%  { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes opacityfading {
    0%   { opacity: 0; }
    33%  { opacity: 1; }
    66%  { opacity: 0; }
    100% { opacity: 1; }
}