html, body{
	height:100%;
	margin-right: calc(-1 * (100vw - 100%));
}

body{
	margin: 0;
	overflow: hidden;
	background-color: black;
	display: flex;
	justify-content: center;
}

canvas{
	position:fixed!important;
	z-index: -1!important;
}

div.row{
	height:100%;
	bottom:20px;
	position:relative;
}

div.page-header{
	border:0; 
	background-color: transparent;   
	z-index: 100;
	position:relative;
	margin-top:5px;
}

h1#julien{ 
	color:white; 
	margin: 0;
	font-size:40px;
}


@font-face {
	font-family: 'Pacifico';
	src: url('../../font/Pacifico/Pacifico-Regular.ttf') format("truetype");
 
	font-family: 'Roboto';
	src: url('../../font/Pacifico/Roboto-Regular.ttf') format("truetype");
 	
 	/*Incorporate the different version for the different browser*/
}

.text_style{
	font-family: 'Pacifico', cursive, 'Roboto', sans-serif;
	text-decoration: none;
	text-align: center;
}

.dimension{
	height: 150px; 
	background-color: transparent;
	background: none;
	border:none;
}

.circle{
	background-color: white;
	display: flex;
	justify-content: center;
	height: 50px;
	width:50px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	position: relative;
	margin: auto;
	top: 31px;
	z-index: 100;
}

.centerQuery{
	/*enable css element to be always vertically and 
	horizontally centered in the middle*/
	background-color: transparent; 
	position: fixed;
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	margin: auto; 
	width: 400px;
	height: 35px;
	background: transparent;
	text-decoration: none;
	position: fixed; 
	z-index: 10000;
	/*padding: 20px;*/
	text-align: center;
	color:white;
	font-family: 'Pacifico', cursive, 'Roboto', sans-serif;
	font-size: 43px;
}


.fading_animation_color{
	transition-property: transform;
    transition-duration: 10s;
    animation-name: fading_color;
	animation-delay:0s;
	animation-duration: 5s;
	-webkit-animation: fading_color 5s infinite;
	
	animation-timing-function:linear; /* For a steady rate loop */
}

.fading_animation_bg{
	transition-property: transform;
    transition-duration: 10s;
    animation-name: fading_bg;
	animation-delay:0s;
	animation-duration: 5s;
	-webkit-animation: fading_bg 5s infinite;
	
	animation-timing-function:linear; /* For a steady rate loop */
}

.pos_img_one{
 	background: white;
	position: absolute; 
	margin: auto;
	width: 100px; 
	height: 100px; 
	z-index: 300;
	top: 0; 
	bottom: 297px; 
	left: 626px; 
	right: 0; 
}

.pos_img_one:hover{
	animation-name: fading_img;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_img 5s infinite;
	
	animation-timing-function:linear; 
}

.pos_img_two{
 	background: white;
	position: absolute; 
	margin: auto;
	width: 45px; 
	height: 45px; 
	z-index: 300;
	top: 243px; 
	bottom: 0; 
	left: 654px; 
	right: 0; 
}

.pos_img_two:hover{
	animation-name: fading_img;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_img 5s infinite;
	
	animation-timing-function:linear; 
}

.pos_img_three{
 	background: white;
	position: absolute; 
	margin: auto;
	width: 35px; 
	height: 35px; 
	z-index: 300;
	top: 252px; 
	bottom: 0; 
	left: 562px; 
	right: 0; 
}

.pos_img_three:hover{
	animation-name: fading_img;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_img 5s infinite;
	
	animation-timing-function:linear; 
}

.pos_img_four{
 	background: white;
	position: absolute; 
	margin: auto;
	width: 50px; 
	height: 50px; 
	z-index: 300;
	top: 349px; 
	bottom: 0; 
	left: 437px; 
	right: 0; 
}

.pos_img_four:hover{
	animation-name: fading_img;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_img 5s infinite;
	
	animation-timing-function:linear; 
}

.pos_img_five{
 	background: white;
	position: absolute; 
	margin: auto;
	width: 70px; 
	height: 70px; 
	z-index: 300;
	top: 117px; 
	bottom: 0; 
	left: 781px; 
	right: 0; 
}

.pos_img_five:hover{
	animation-name: fading_img;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_img 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_one{
 	background: white;
	position: absolute; 
	margin: auto;
	width: 100px; 
	height: 100px; 
	z-index: 300;
	top: 400px; 
	bottom: 0; 
	left: 600px; 
	right: 0; 
}

#pos_one:hover{
	animation-name: fading_one;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_one 5s infinite;
	
	animation-timing-function:linear; 
}


#pos_two{
 	background: white;
	position: absolute; 
	margin: auto;
	width: 75px; 
	height: 75px;
	z-index: 300;
	top: 0px; 
	bottom: 400px; 
	left: 0px; 
	right: 600px;  
}

#pos_two:hover{
	animation-name: fading_two;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_two 5s infinite;
	
	animation-timing-function:linear;
}

#pos_three{
 	background: white;
	position: absolute; 
	margin: auto;
	width: 50px; 
	height: 50px;
	z-index: 300;
	top: 400px; 
	bottom: 0; 
	left: 0px; 
	right: 400px; 
}

#pos_three:hover{
	animation-name: fading_three;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_three 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_four{
 	background: white;
	position: absolute; 
	margin: auto;
	width: 25px; 
	height: 25px;
	z-index: 300;
	top: 0px; 
	bottom: 400px; 
	left: 400px; 
	right: 0px; 
}

#pos_four:hover{
	animation-name: fading_four;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_four 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_five{
	position: absolute; 
	margin: auto;
	width: 50px; 
	height: 50px;
	z-index: 300;
	top: 0px; 
	bottom: 460px; 
	left: 485px; 
	right: 0px; 
}

#pos_five:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_six{
	position: absolute; 
	margin: auto;
	width: 37.5px; 
	height: 37.5px;
	z-index: 300;
	top: 0px; 
	bottom: 360px; 
	left: 475px; 
	right: 0px; 
}

#pos_six:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_seven{
	position: absolute; 
	margin: auto;
	width: 60px; 
	height: 60px;
	z-index: 300;
	top: 0px; 
	bottom: 303px; 
	left: 363px; 
	right: 0px; 
}

#pos_seven:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_eight{
	background:white;
	position: absolute; 
	margin: auto;
	width: 20px; 
	height: 20px;
	z-index: 300;
	top: 220px; 
	bottom: 0; 
	left: 731px; 
	right: 0; 
}

#pos_eight:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_nine{
	background:white;
	position: absolute; 
	margin: auto;
	width: 20px; 
	height: 20px;
	z-index: 300;
	top: 167px; 
	bottom: 0; 
	left: 678px; 
	right: 0; 
}

#pos_nine:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_ten{
	background:white;
	position: absolute; 
	margin: auto;
	width: 40px; 
	height: 40px;
	z-index: 300;
	top: 292px; 
	bottom: 0; 
	left: 750px; 
	right: 0; 
}

#pos_ten:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_eleven{
	background:white;
	position: absolute; 
	margin: auto;
	width: 85px; 
	height: 85px;
	z-index: 300;
	top: 386px; 
	bottom: 0; 
	left: 288px; 
	right: 0; 
}

#pos_eleven:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_twelve{
	background:white;
	position: absolute; 
	margin: auto;
	width: 35px; 
	height: 35px;
	z-index: 300;
	top: 253px; 
	bottom: 0; 
	left: 239px; 
	right: 0; 
}

#pos_twelve:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_thirteen{
	background:white;
	position: absolute; 
	margin: auto;
	width: 65px; 
	height: 65px;
	z-index: 300;
	top: 283px; 
	bottom: 0; 
	left: 125px; 
	right: 0; 
}

#pos_thirteen:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_fourteen{
	background:white;
	position: absolute; 
	margin: auto;
	width: 40px; 
	height: 40px;
	z-index: 300;
	top: 260px; 
	bottom: 0; 
	left: 6px; 
	right: 0; 
}

#pos_fourteen:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_fifteen{
	background:white;
	position: absolute; 
	margin: auto;
	width: 40px; 
	height: 40px;
	z-index: 300;
	top: 0; 
	bottom: 5px; 
	left: 810px; 
	right: 0; 
}

#pos_fifteen:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_sixteen{
	background:white;
	position: absolute; 
	margin: auto;
	width: 70px; 
	height: 70px;
	z-index: 300;
	top: 0; 
	bottom: 35px; 
	left: 687px; 
	right: 0; 
}

#pos_sixteen:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_seventeen{
	background:white;
	position: absolute; 
	margin: auto;
	width: 100px; 
	height: 100px;
	z-index: 300;
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 400px; 
}

#pos_seventeen:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_eighteen{
	background:white;
	position: absolute; 
	margin: auto;
	width: 60px; 
	height: 60px;
	z-index: 300;
	top: 173px; 
	bottom: 0; 
	left: 0; 
	right: 440px; 
}

#pos_eighteen:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_nineteen{
	background:white;
	position: absolute; 
	margin: auto;
	width: 60px; 
	height: 60px;
	z-index: 300;
	top: 73px; 
	bottom: 0; 
	left: 0; 
	right: 573px; 
}

#pos_nineteen:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_twenty{
	background:white;
	position: absolute; 
	margin: auto;
	width: 100px; 
	height: 100px;
	z-index: 300;
	top: 0; 
	bottom: 100px; 
	left: 0; 
	right: 613px; 
}

#pos_twenty:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_twentyone{
	background:white;
	position: absolute; 
	margin: auto;
	width: 20px; 
	height: 20px;
	z-index: 300;
	top: 0; 
	bottom: 135px; 
	left: 0; 
	right: 480px; 
}

#pos_twentyone:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_twentytwo{
	background:white;
	position: absolute; 
	margin: auto;
	width: 20px; 
	height: 20px;
	z-index: 300;
	top: 162px; 
	bottom: 0; 
	left: 0; 
	right: 533px; 
}

#pos_twentytwo:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_twentythree{
	background:white;
	position: absolute; 
	margin: auto;
	width: 80px; 
	height: 80px;
	z-index: 300;
	top: 93px; 
	bottom: 0; 
	left: 0; 
	right: 727px; 
}

#pos_twentythree:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_twentyfour{
	background:white;
	position: absolute; 
	margin: auto;
	width: 60px; 
	height: 60px;
	z-index: 300;
	top: 0; 
	bottom: 60px; 
	left: 0; 
	right: 786px; 
}

#pos_twentyfour:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_twentyfive{
	background:white;
	position: absolute; 
	margin: auto;
	width: 47px; 
	height: 47px;
	z-index: 300;
	top: 292px; 
	bottom: 0; 
	left: 0; 
	right: 428px; 
}

#pos_twentyfive:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_twentysix{
	background:white;
	position: absolute; 
	margin: auto;
	width: 65px; 
	height: 65px;
	z-index: 300;
	top: 273px; 
	bottom: 0; 
	left: 0; 
	right: 302px; 
}

#pos_twentysix:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_twentyseven{
	background:white;
	position: absolute; 
	margin: auto;
	width: 15px; 
	height: 15px;
	z-index: 300;
	top: 181px; 
	bottom: 0; 
	left: 0; 
	right: 353px; 
}

#pos_twentyseven:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_twentyeight{
	background:white;
	position: absolute; 
	margin: auto;
	width: 45px; 
	height: 45px;
	z-index: 300;
	top: 431px; 
	bottom: 0; 
	left: 0; 
	right: 773px; 
}

#pos_twentyeight:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_twentynine{
	background:white;
	position: absolute; 
	margin: auto;
	width: 45px; 
	height: 45px;
	z-index: 300;
	top: 0; 
	bottom: 210px; 
	left: 0; 
	right: 400px; 
}

#pos_twentynine:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_thirty{
	background:white;
	position: absolute; 
	margin: auto;
	width: 33px; 
	height: 33px;
	z-index: 300;
	top: 0; 
	bottom: 167px; 
	left: 0; 
	right: 757px; 
}

#pos_thirty:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_thirtyone{
	background:white;
	position: absolute; 
	margin: auto;
	width: 40px; 
	height: 40px;
	z-index: 300;
	top: 0; 
	bottom: 300px; 
	left: 100px; 
	right: 0; 
}

#pos_thirtyone:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

#pos_thirtytwo{
	background:white;
	position: absolute; 
	margin: auto;
	width: 33px; 
	height: 33px;
	z-index: 300;
	top: 100px; 
	bottom: 0; 
	left: 400px; 
	right: 0; 
}

#pos_thirtytwo:hover{
	animation-name: fading_other;
	animation-delay: 0s;
	animation-duration:5s;
	-webkit-animation: fading_other 5s infinite;
	
	animation-timing-function:linear; 
}

@keyframes fading_one {
    0%   { background: black; }
    33%  { background: cyan; }
    66%  { background: pink; }
    100% { background: black; }
}

@-webkit-keyframes fading_one {
    0%   { background-color: black ; }
    33%  { background-color: cyan; }
    66%  { background-color: pink; }
    100% { background-color: black; }
}

@keyframes fading_two {
    0%   { background: black; }
    33%  { background: pink; }
    66%  { background: yellow; }
    100% { background: black; }
}

@-webkit-keyframes fading_two {
    0%   { background-color: black ; }
    33%  { background-color: pink; }
    66%  { background-color: yellow; }
    100% { background-color: black; }
}

@keyframes fading_three {
    0%   { background: black; }
    33%  { background: yellow; }
    66%  { background: purple; }
    100% { background: black; }
}

@-webkit-keyframes fading_three {
    0%   { background-color: black ; }
    33%  { background-color:yellow; }
    66%  { background-color: purple; }
    100% { background-color: black; }
}

@keyframes fading_four {
    0%   { background: black; }
    33%  { background: purple; }
    66%  { background: cyan; }
    100% { background: black; }
}

@-webkit-keyframes fading_four {
    0%   { background-color: black ; }
    33%  { background-color: purple; }
    66%  { background-color: cyan; }
    100% { background-color: black; }
}

@keyframes fading_other {
    0%   { background: black; }
    33%  { background: cyan; }
    66%  { background: white; }
    100% { background: black; }
}

@-webkit-keyframes fading_other {
    0%   { background-color: black ; }
    33%  { background-color: cyan; }
    66%  { background-color: white; }
    100% { background-color: black; }
}

@keyframes fading_img {
    0%   { background: black; }
    33%  { background: pink; }
    66%  { background: white; }
    100% { background: black; }
}

@-webkit-keyframes fading_img {
    0%   { background-color: black ; }
    33%  { background-color: pink; }
    66%  { background-color: white; }
    100% { background-color: black; }
}

@keyframes fading_color {
    0%   { color: black; }
    50%  { color: white; }
    100% { color: black; }
}

@-webkit-keyframes fading_color {
    0%   { color: black; }
    50%  { color: white; }
    100% { color: black; }
}

@keyframes fading_bg {
    0%   { background: black; }
    50%  { background: white; }
    100% { background: black; }
}

@-webkit-keyframes fading_bg {
    0%   { background: black; }
    50%  { background: white; }
    100% { background: black; }
}

@keyframes opacityfading {
    0%   { opacity: 0; }
    33%  { opacity: 1; }
    66%  { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes opacityfading {
    0%   { opacity: 0; }
    33%  { opacity: 1; }
    66%  { opacity: 0; }
    100% { opacity: 1; }
}